.menu{
	background-color: lightblue;
	padding: 20px 20px;
}

.header{
	background-color: lightblue;
}

.content{
	height: 800px;
}

.recherche{
	margin-top: -34px!important;
	margin-bottom: 0px;
	margin-right: 15px;
	margin-left: 15px;
}

.maincontent{
	padding-top: 15px!important;
	padding-left: 0px !important;
}

.footer{
	margin-top: 20px;
	background-color: lightblue;
	padding:20px 50px;
}
#map_wrapper {
    height: 400px;
}

#map_canvas {
    width: 100%;
    height: 100%;
}
.card {
	display: inline-block;
	position: relative;
	vertical-align: top;
	width: 96%;
	border: 1px solid #ccc;
	background-color: #FFF;
	margin: 10px 10px;
}

.card img{
	margin-left: auto;
	margin-right: auto;
}

.linkcard, .linkcard:hover{
	text-decoration: none;
}

.card:hover {
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
	margin-top: -3px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.card .badge{
	position: absolute;
	color: white;
	margin: 10px 10px;
	color: #000!important;
	background-color: #FFF!important;
}

.card h3, .card p{
	padding-left: 10px;
	padding-right: 10px;
	color: black!important
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.card {
		width: 47%;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.card {
		width: 30.99%;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	.card {
		width: 23.03%;
	}
}

.description{
	text-align: justify;
}

.bar {
  fill:lightblue; 
  height: 21px;
  transition: fill .3s ease;
  cursor: pointer;
  font-family: Helvetica, sans-serif;
}
.bar text {
  color: black;
}
.bar:hover,
.bar:focus {
  fill: black;
}
.bar:hover text,
.bar:focus text {
  fill:lightblue ;
}
.circle {
  fill: #ddd;
  stroke: $primaryColor;
  stroke-width: 50;
  stroke-dasharray: 0 158;
  transition: stroke-dasharray .3s ease;
}

#cammenbert{
  margin: 0 auto;
  transform: rotate(-90deg);
  background: #ddd;
  border-radius: 50%;
  display: block;
}

.buttons {
  margin-bottom: 30px;
}

button {
  text-transform: capitalize;
  font-size: 13px;
  cursor: pointer;
  -webkit-appearance: none;
  border: none;
  margin-right: 5px;
  background-color: transparent;
  padding: 5px 10px;
  outline: none;
  border-radius: 2px;
  transition: background-color .1s ease, color .2s ease;
  
  &:last-of-type {
    margin-right: 0;
  }
  
  &.active {
    font-weight: 400;
    background-color: $primaryColor;
    color: white;
  }
}

figcaption {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

/*body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}


body, html {
  height: 100%;
}*/
